.well
  %h4
    = "Enter your EOD update below. It will included in the next scheduled EOD update delivery for #{@current_team.name}."

= form_for @eod_update, url: eod_updates_path, method: :post do |f|

  = render partial: 'common/form_errors', locals: {model: @eod_update}

  .form-group
    = f.label :author
    = f.text_field :author, class: 'form-control'

  - @categories.each do |category|
    = f.fields_for "entries[#{category.id}]", @eod_update.entry_for(category.id) do |content_fields|
      %h2= category.name

      %ul
        - category.undelivered_entries_for_team(@current_team.id).each do |entry|
          %li
            = entry_with_author(entry)

      .form-group
        = content_fields.text_area :content, class: 'form-control'

  = f.hidden_field :team_id, value: @current_team.id
  = f.submit 'Submit', class: 'btn btn-primary'