%h1= "EOD Updates from #{@from_team_location.name} for #{today_long(ActiveSupport::TimeZone.new(@from_team_location.time_zone))}"

- @categories.each do |category|
  %h2= category.name

  %ul
    - category.entries.each do |entry|
      %li= entry_with_author(entry)

%div
  Delivered by The EOD Machine