%h1= "EOD Updates from #{@from_team.location} for #{today_long(@from_team.time_zone)}"

- @categories.each do |category|
  %h2= category.name

  %ul
    - category.undelivered_entries.each do |entry|
      %li= entry_with_author(entry)

%div
  Delivered by The EOD Machine