!!!
%html
  %head
    %title EOD Machine

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          = link_to brand_for(@current_team), root_path, class: 'navbar-brand'

        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'Switch Teams', teams_path

    .container
      - if flash[:error]
        %p.alert.alert-danger
          = flash[:error]

      - if flash[:info]
        %p.alert.alert-success
          = flash[:info]

      = yield