!!!
%html
  %head
    %title EOD Machine

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body
    .container
      %h1 EOD Machine

      - if flash[:error]
        %p.alert.alert-danger
          = flash[:error]

      - if flash[:info]
        %p.alert.alert-success
          = flash[:info]

      = yield